/*底部*/
.nav {
    border-top: 1px solid rgb(215,215,215);
    background: rgb(249,249,249);
    padding: 5px 0 0px 0;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
}
.nav ul {
    height: 0px;
}
.nav ul li {
    float: left;
    width: 33%;
    text-align: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.nav ul li span {
    display: block;
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 16px;
    margin-top: 2px;
}
a {
    color: #000;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}